// Colors
$color-primary: hsl(0, 0%, 13%);
$color-secondary: hsl(0, 0%, 29%);
$color-grey: hsl(0, 0%, 47%);
// $color-offwhite: hsl(0, 0%, 95%);
$color-white: hsl(0, 0%, 100%);

//added for this specific app
$color-add: #00b35a;
$color-expire: #005ab3;
$color-execution: #b30000;
$color-orange: #ff8521;
$color-darkteal: #162828;
$color-offwhite: #f6f4f2;
$color-gridgrey: #999;

$color-tribune-yellow: hsl(46, 100%, 50%);
$color-tribune-blue: hsl(193, 36%, 50%);
$color-tribune-light-blue: hsl(193, 49%, 75%);

$color-facebook: hsl(220, 63%, 47%);
$color-twitter: hsl(206, 82%, 63%);

// Typography
$font-size-base: 16;

$font-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-serif: 'PT Serif', Georgia, 'Times New Roman', Times, serif;

$color-text: $color-primary;
$color-text-inverse: $color-white;
$color-text-link: $color-tribune-light-blue;
$color-text-link-active: $color-tribune-blue;

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

// Spacing
$gutter: 1.25rem;

$gutter-half: $gutter * .5;
$gutter-quarter: $gutter * .25;

$gutter-double: $gutter * 2;
$gutter-quad: $gutter * 4;

// Animation curves

// best for elements moving on screen
$curve-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
// best for elements leaving the screen
$curve-accelarate: cubic-bezier(0.4, 0.0, 1, 1);
// best for elements entering the screen
$curve-decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
// best for elements that may enter at any time (menus, etc.)
$curve-sharp: cubic-bezier(0.4, 0.0, 0.6, 1);

// sass-mq
$mq-responsive: true;

$mq-breakpoints: (
  s: 544px,
  m: 768px,
  l: 992px,
  xl: 1200px,

  header-break: 840px,
  footer-break: 850px
);

$mq-media-type: screen;
