// Variables and mixins
@import 'variables';
@import 'mixins';
@import 'functions';

// Third-party libraries
@import 'node_modules/sass-mq/mq';

//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// Reset, overrides and utils
@import 'reset';
@import 'overrides';
@import 'utils';
@import 'grid';
@import 'typography';
@import 'buttons';
@import 'icons';

// Components
@import 'components/site-header';
@import 'components/footer';
@import 'components/graphic';
@import 'components/chart';
@import 'components/related-stories';

//index styles
.notes {
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 40rem;
  font-size: .8rem;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}
