// Variables and mixins
@import 'variables';
@import 'mixins';
@import 'functions';

// Third-party libraries
@import 'node_modules/sass-mq/mq';

// Reset, overrides and utils
@import 'reset';
@import 'overrides';
@import 'utils';
@import 'grid';
@import 'typography';
@import 'buttons';
@import 'icons';

// Components
@import 'components/site-header';
@import 'components/footer';
@import 'components/graphic';
@import 'components/chart';
@import 'components/related-stories';

.banner-ad {
  text-align: center;
  margin: 0 auto;
  padding-top: $gutter;
}

//index styles
.notes {
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 40rem;
  font-size: .875rem;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.note-subhead {
  margin: $gutter auto;
  line-height: 1.4;
  max-width: 40rem;
  font-style: italic;

  .display & {
    color: lighten($color-gridgrey, 10);
    @include mq($from: s) {
      font-size: 1.1rem;
    }
  }
}
