$grid-gray: #888;

.chart {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 40rem;

  .add {
    fill: blue;
  }

  .execution {
    fill: red;
  }

  .expire {
    fill: green;
  }

  .return {
    fill: green;
  }
}

.axis {
  .domain {
    stroke: $color-primary;
  }

  .range {
    stroke: $grid-gray;
  }

  .tick {

    text {
      fill: $grid-gray;
    }

    line {
      stroke: $grid-gray;
    }
  }
}

.line {
  stroke: $color-offwhite;
  stroke-width: 3px;
  fill: none;
}
