//styles for main graphic
.graphic {
  margin-bottom: 2.5rem;
  font-family: 'Roboto Mono', monospace;
}

.counts {
  text-align: center;
  margin-bottom: 2rem;

  .doses {
    @include clearfix();
    margin: 1rem auto;
    text-align: left;
    width: 11rem;

    @include mq($from: s) {
      width: 14rem;
    }

    &--num {
      font-size: 4rem;
      font-weight: bold;
      letter-spacing: -5px;
      float: left;
      margin-right: .75rem;

      @include mq($from: s) {
        font-size: 5rem;
      }
    }

    &--label {
      font-size: 1.1rem;
      line-height: 1.2rem;
      padding-top: 1.35rem;

      @include mq($from: s) {
        font-size: 1.3rem;
        line-height: 1.5rem;
        padding-top: 1.55rem;
      }
    }
  }

  .executions {
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: $color-orange;
    color: $color-primary;
    padding: .5rem;
    display: inline-block;

    @include mq($from: s) {
      font-size: 1.25rem;
    }
  }
}

//dots
.expiration {
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  @include clearfix();

  &--title {
    padding-bottom: .25em;
    border-bottom: 1px solid $color-offwhite;
    text-transform: uppercase;
    font-size: .9rem;
  }
}

.dose-dot {
  width: 31%;
  height: 0; //js figures height
  background: $color-offwhite;
  border: .5rem solid darken($color-offwhite, 5);
  margin-right: 3%;
  margin-top: 1em;
  position: relative;
  border-radius: 100%;
  float: left;

  // &:after {
  //   content: '';
  //   position: absolute;
  //   top: -.65em;
  //   left: -.65em;
  //   right: -.65em;
  //   bottom: -.65em;
  //   border-radius: 100%;
  //   background: $color-offwhite;
  //   z-index: -1;
  // }

  @include mq($until: s) {
    &:nth-child(3n+4) {
      margin-right: 0%;
    }
  }

  @include mq($from: s, $until: l) {
    width: 22%;
    margin-right: 4%;

    &:nth-child(4n+5) {
      margin-right: 0%;
    }
  }

  @include mq($from: l) {
    width: 18%;
    margin-right: 2%;

    &:nth-child(5n+6) {
      margin-right: 0%;
    }
  }

  &.execution {
    border: .5rem solid $color-orange;
    color: $color-primary;
    position: relative;

    .dot-info {
      position: absolute;
      text-align: center;
      padding: 5%;
      margin: auto;
      left: 0;
      right: 0;

      &.name {
        font-size: .75rem;
        line-height: 1.1;
        word-wrap: break-word;
        top: 45%;
        transform: translateY(-70%);

        @include mq($from: s) {
          font-size: .85rem;
        }

        span {
          text-transform: uppercase;
          display: block;
        }
      }

      &.date {
        bottom: 5%;
        font-size: .7rem;
        text-transform: uppercase;

        .execution-label {
          display: none;
          font-size: .6rem;

          .first & {
            display: block;
          }
        }
      }
    }
  }
}

.log {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 30rem;

  &--title {
    padding-bottom: .25em;
    border-bottom: 1px solid $color-offwhite;
    text-transform: uppercase;
    font-size: .9rem;
    margin-bottom: 1rem;
  }

  &--item {
    @include clearfix;
    font-size: .825rem;
    line-height: 1.2rem;
    margin-bottom: .75rem;

    @include mq($from: s) {
      font-size: .925rem;
    }
  }

  &--highlight {
    padding: .1rem .25rem;
    display: block;
    float: left;
    width: 6rem;
    position: absolute;
    text-align: center;

    .expire & {
      background-color: $color-expire;
    }

    .execution & {
      background-color: $color-execution;
    }

    .add & {
      background-color: $color-add;
    }
  }

  &--desc {
    margin-left: 6.5rem;
    display: block;
  }

  &--date {
    font-size: .7rem;
    text-transform: uppercase;
    color: #999;
    padding: 0 0.5em;
  }

  &--underline {
    .expire & {
      border-bottom: 2px solid $color-expire;
    }

    .execution & {
      border-bottom: 2px solid $color-execution;
    }

    .add & {
      border-bottom: 2px solid $color-add;
    }
  }
}

//change legend from chart
.dots .legend {
  margin-bottom: 2rem;
  &--item {
    color: lighten($color-grey, 30);

    &:first-child {
      margin-right: 2rem;
    }
  }

  i {
    width: 1rem;
    height: 1rem;
    margin: 0;
    vertical-align: sub;

    &.dose {
      background-color: $color-offwhite;
      border: .2rem solid darken($color-offwhite, 10);
    }

    &.execution {
      background-color: $color-offwhite;
      border: .2rem solid $color-orange;
    }
  }
}
