//styles for main graphic
.display {
  margin-bottom: $gutter-double;
  font-family: 'Roboto Mono', monospace;
}

.counts {
  text-align: center;
  margin-bottom: $gutter-double;

  .doses {
    @include clearfix();
    margin: 1rem auto;
    display: flex;
    align-items: center;

    &--num {
      font-size: 4rem;
      font-weight: bold;
      letter-spacing: -5px;
      flex: 1;
      margin-right: .75rem;
      text-align: right;

      @include mq($from: s) {
        font-size: 5rem;
      }
    }

    &--label {
      font-size: 1.1rem;
      line-height: 1.5rem;
      text-align: left;
      flex: 1;

      @include mq($from: s) {
        font-size: 1.3rem;
      }
    }
  }

  .executions {
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    background-color: $color-orange;
    color: $color-darkteal;
    padding: .5rem;
    display: inline-block;

    @include mq($from: s) {
      font-size: 1.25rem;
    }
  }
}

//dots
.graphic {
  max-width: 45rem;
  margin: 0 auto;
  display: flex;

  .graphic-title {
    padding-bottom: .25em;
    border-bottom: 1px solid $color-offwhite;
    text-transform: uppercase;
    font-size: .9rem;
  }

  .dots {
    flex-grow: 2;
    padding-right: 2em;

    .dose-dot {
      width: 3em;
      height: 0; //js figures height
      background: $color-offwhite;
      border: .35rem solid darken($color-offwhite, 5);
      margin-right: .5em;
      margin-top: 1em;
      position: relative;
      border-radius: 100%;
      float: left;

      &.execution {
        background-color: $color-orange;
        color: $color-primary;
        position: relative;
      }
    }
  }

  .executions-list {
    flex-grow: 1;
    margin-top: 2.45rem;


    .graphic-title {
      background-color: $color-orange;
      padding: 0 .2rem;
      line-height: 1.4rem;
      color: $color-darkteal;
    }

    li {
      list-style-type: none;
      padding: .5em;
      line-height: 1.2rem;
      font-size: .95em;
      display: flex;

      .date {
        text-transform: uppercase;
        font-size: .75rem;
        color: lighten($color-grey, 25);
        flex: 1;
      }

      .name {
        flex: 2;
      }
    }
  }
}

.expiration {
  margin-bottom: $gutter-double;
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  @include clearfix();
}

.log {
  margin-bottom: $gutter-double;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 30rem;

  &--title {
    padding-bottom: .25em;
    border-bottom: 1px solid $color-offwhite;
    text-transform: uppercase;
    font-size: .9rem;
    margin-bottom: $gutter;
  }

  &--item {
    @include clearfix;
    font-size: .825rem;
    line-height: 1.2rem;
    margin-bottom: .75rem;

    @include mq($from: s) {
      font-size: .925rem;
    }
  }

  &--highlight {
    padding: .1rem .25rem;
    display: block;
    float: left;
    width: 6rem;
    position: absolute;
    text-align: center;

    .expire & {
      background-color: $color-expire;
    }

    .execution & {
      background-color: $color-execution;
    }

    .add & {
      background-color: $color-add;
    }
  }

  &--desc {
    margin-left: 6.5rem;
    display: block;
  }

  &--date {
    font-size: .7rem;
    text-transform: uppercase;
    color: #999;
    padding: 0 0.5em;
  }

  &--underline {
    .expire & {
      border-bottom: 2px solid $color-expire;
    }

    .execution & {
      border-bottom: 2px solid $color-execution;
    }

    .add & {
      border-bottom: 2px solid $color-add;
    }
  }
}

//change legend from chart
.dots .legend {
  margin-bottom: $gutter;

  &--item {
    color: lighten($color-grey, 30);

    &:first-child {
      margin-right: 2rem;
    }
  }

  i {
    width: 1rem;
    height: 1rem;
    margin: 0;
    vertical-align: sub;
    border: .15rem solid darken($color-offwhite, 10);

    &.dose {
      background-color: $color-offwhite;

    }

    &.execution {
      background-color: $color-orange;
    }
  }
}
