.related-stories-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: $gutter-double;
  max-width: 40rem;

  @include mq($from: l) {
    max-width: 60rem;
  }
}

.section-sub-header {
  flex: 0 0 100%;
  letter-spacing: .03em;
  line-height: 1.2;
  margin-bottom: .3125rem;
  text-transform: uppercase;
  font-weight: bold;
  color: lighten($color-gridgrey, 10);
}

.related-stories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.story {
  flex: 0 0 100%;
  margin-bottom: $gutter-half + $gutter-quarter;
  margin-top: $gutter-half + $gutter-quarter;
  max-width: 100%;

  .related-stories--column & {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
  }

  @include mq($from: l) {
    flex-basis: 50%;
    max-width: 50%;
    padding-left: $gutter;
  }
}

.story-link {
  border-bottom: 0;
  box-shadow: none;
  color: currentColor;
  display: block;
  text-decoration: none;
}

.story-media {
  align-items: flex-start;
  display: flex;
}

.story-art {
  flex: 0 0 to-rem(100);
  margin-right: $gutter;
  max-width: to-rem(100);

  @include mq($from: m) {
    flex: 0 0 to-rem(150);
    max-width: to-rem(150);
  }

  > img {
    display: block;
    width: 100%;
  }

  .related-stories--column & {
    flex: 0 0 to-rem(75);
    max-width: to-rem(75);
  }
}

.story-text {
  flex: 1;
}

// .story-header {
//   margin-bottom: $gutter-half;
// }

.story-headline {
  font-family: $font-serif;
  font-size: to-rem(18);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: $gutter-half;
}

.story-byline {
  color: lighten($color-gridgrey, 10);
  font-family: $font-sans-serif;
  font-size: to-rem(12);
}

.story-summary {
  > p {
    font-family: $font-serif;
    font-size: to-rem(14);
    line-height: 1.4;
  }
}

.dim {
  opacity: 1;
  transition: opacity .15s $curve-standard;
}
.dim:hover,
.dim:focus {
  opacity: .8;
  transition: opacity .15s $curve-standard;
}
.dim:active {
  opacity: .8; transition: opacity .15s $curve-decelerate;
}
