.site-header {
  // background-color: $color-primary;
  color: $color-offwhite;
  position: relative;
  width: 100%;
  //jm changed for this story
  background-color: $color-darkteal;
}

.site-header-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: to-rem(1300);
  padding-bottom: $gutter-quarter;
  padding-left: $gutter-half;
  padding-right: $gutter-half;
  padding-top: $gutter-quarter;

  @include mq($from: header-break) {
    justify-content: flex-start;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.site-header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: to-rem(1300);
  padding-bottom: $gutter-half;
  padding-left: $gutter-half;
  padding-right: $gutter-half;
  padding-top: $gutter-half;
  width: 100%;
}

.site-header-logo {
  flex-basis: auto;
  flex-grow: 0;
}

.site-header-logo-link {
  img {
    @include site-logo-height(20);

    @include mq($from: header-break) {
      @include site-logo-height(24);
    }
  }
}

.site-header-links {
  display: none;
  flex-grow: 1;
  font-weight: 700;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;

  @include mq($from: header-break) {
    display: flex;
    margin-right: $gutter;
  }

  ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    width: 100%;
  }

  li + li {
    margin-left: $gutter;
  }

  a {
    color: $color-offwhite;
    font-size: to-rem(14);
    line-height: 1;
    text-decoration: none;

    &:hover {
      color: $color-text-link;
    }
  }
}

.socials {
  color: transparentize($color-white, .15);
  filter: drop-shadow(1px 1px 1px transparentize($color-primary, .5));
  text-align: right;
}

.socials__link {
  color: transparentize($color-white, .15);
  margin-right: $gutter * .75;
  text-decoration: none;

  // &:last-child {
  //   margin-right: 0;
  // }
}

.icon-facebook:active, .icon-facebook:hover {
  .socials__link & {
    color: $color-facebook;
  }
}

.icon-twitter:active, .icon-twitter:hover {
  .socials__link & {
    color: $color-twitter;
  }
}

.socials .icon {
  font-size: 1.35rem;
  vertical-align: middle;
}
