{% extends 'base.html' %}
{% import 'macros/shares.html' as shares %}
{% from 'macros/prose.html' import prose %}
{% from 'macros/logs.html' import past_log %}
{% from 'macros/dots.html' import buildDots, scheduledExecutions %}

{% set context = data.story %}

{% block body_class %}blackout{% endblock body_class %}

{% block content %}

<div class="container">
  <header class="article-header text-center">
    <h1 class="article-title">{{ context.headline }}</h1>
    <p class="article-byline">
      <span class="article-author">By {{ context.author }}</span>
      <span class="article-pub-date">Last Updated: <time datetime="{{ context.lastDate }}">{{ apFormatDate(context.lastDate) }}</time></span>
    </p>
  </header>

  <div class="display">
    <div class="counts">
      <div class="doses">
        <div class="doses--num">{% if context.currentDose < 10 %}0{% endif %}{{ context.currentDose }}</div>
        <div class="doses--label">doses<br>in stock</div>
      </div>
      <div class="executions">
        {% if context.currentExecutions < 10 %}0{% endif %}{{ context.currentExecutions }} scheduled executions
      </div>
    </div>

    <p class="article-subhead">{{ context.subhead }}</p>

    <div class="graphic">
      <div class="dots">
        {{ buildDots(context.dots, context.lastDate)}}
      </div>

      <div class="executions-list">
        <h4 class="graphic-title">Scheduled executions</h4>
        {{ scheduledExecutions(context.dots) }}
      </div>
    </div>


    <div class="log">
      <h4 class="log--title">Recent inventory changes</h4>
      {{ past_log(context.pastLog) }}
    </div>
  </div>

  <div class="prose">
    {{ prose(context.prose) }}
  </div>

  <!-- <div id="step-chart" class="chart">
    <ul class="legend">
      <li class="legend--item"><i class="expire"></i>Doses expired/removed</li>
      <li class="legend--item"><i class="add"></i>Doses added</li>
      <li class="legend--item"><i class="execution"></i>Execution</li>
    </ul>
  </div> -->

  <div class="notes">
    <p>{{ context.credit }}</p>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script>window.LINE_JSON = "{{ static('assets/data/story.json') }}"</script>
{{ super() }}
<script src="{{ static('scripts/main.js') }}"></script>
{% endblock scripts %}
