{% extends 'base.html' %}
{% import 'macros/shares.html' as shares %}
{% from 'macros/prose.html' import prose %}
{% from 'macros/logs.html' import past_log, future_log %}

{% set context = data.story %}

{% block body_class %}blackout{% endblock body_class %}

{% block content %}

<div class="container">
  <header class="article-header text-center">
    <h1 class="article-title">{{ context.headline }}</h1>
    <p class="article-byline">
      <span class="article-author">By {{ context.author }}</span>
      <span class="article-pub-date">Last Updated: <time datetime="{{ context.lastDate }}">{{ apFormatDate(context.lastDate) }}</time></span>
    </p>
    <!-- <div class="article-shares">
      <a class="button button--small button--facebook article-shares-button" href="{{ shares.facebook(staticAbsolute('/')) }}" ga-on="click" ga-hit-type="social" ga-social-network="Facebook" ga-social-action="share">
        <svg class="icon icon-facebook">
          <use xlink:href="#icon-facebook"></use>
        </svg>
      </a>
      <a class="button button--small button--twitter article-shares-button" href="{{ shares.twitter(staticAbsolute('/'), '', '') }}" ga-on="click" ga-hit-type="social" ga-social-network="Twitter" ga-social-action="tweet">
        <svg class="icon icon-twitter">
          <use xlink:href="#icon-twitter"></use>
        </svg>
      </a>
      <a class="button button--small button--yellow article-shares-button" href="{{ shares.email('The Texas Tribune', '\n\n' + staticAbsolute('/'))}}" ga-on="click" ga-hit-type="social" ga-social-network="Email" ga-social-action="email">
        <svg class="icon icon-envelope">
          <use xlink:href="#icon-envelope"></use>
        </svg>
      </a>
    </div> -->
  </header>

  <div class="graphic">
    <div class="doses">
      <span class="dose--num">{{ context.currentDose }}</span> doses
    </div>
    <div class="executions">
      <span class="execution--num">{{ context.currentExecutions }}</span> scheduled executions
    </div>

    <div class="log">
      <h4 class="log--title">Future inventory changes</h4>
      {{ future_log(context.futureLog) }}
    </div>

    <div class="log">
      <h4 class="log--title">Recent inventory changes</h4>
      {{ past_log(context.pastLog) }}
    </div>
  </div>

  <div id="dot-graphic" class="log"></div>

  <div class="prose">
    {{ prose(context.prose) }}
  </div>

  <div class="notes">
    <p>Additional design by Ben Hasson and Emily Albracht.</p>
  </div>


</div>

{% endblock content %}

{% block scripts %}
<script>window.LINE_JSON = "{{ static('assets/data/story.json') }}"</script>
{{ super() }}
<script src="{{ static('scripts/main.js') }}"></script>
{% endblock scripts %}
