{% macro buildDots(data) %}
<ul class="legend">
  <li class="legend--item"><i class="dose"></i> = 01 dose</li>
  <li class="legend--item"><i class="execution"></i> = scheduled execution</li>
</ul>
{% for expiration in data %}
  <div class="expiration {% if loop.first %}first{% endif %}">
    <h4 class="expiration--title">Drugs expire {{ expDate(expiration.expires) }}</h4>
    {% for i in range(0, expiration.doses) %}
      <div class="dose-dot {%if i < expiration.executions.length %}execution{% endif %}">
        {%if i < expiration.executions.length %}
          <div class="dot-info name">{{ expiration.executions[i].firstName }} <span>{{ expiration.executions[i].lastName }}</span></div>
          <div class="dot-info date">{% if i == 0  %}<span class="execution-label">Execution</span>{% endif %}
            {{ expDateNOYR(expiration.executions[i].date) }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endfor %}
{% endmacro %}
