<link rel="canonical" href="{{ staticAbsolute('/') }}">
<meta name="description" content="{{ data.story.subhead }}">
<meta name="robots" content="noarchive">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@texastribune">
<meta name="twitter:creator" content="@texastribune">
<meta property="og:url" content="{{ staticAbsolute('/') }}">
<meta property="og:title" content="{{ data.story.headline }}">
<meta property="og:type" content="article">
<meta property="article:publisher" content="https://www.facebook.com/texastribune">
<meta property="article:published_time" content="{{ data.story.lastDate }}">
<meta property="og:description" content="{{ data.story.subhead }}">
<meta property="og:site_name" content="The Texas Tribune">
<meta property="og:image" content="https://static.texastribune.org/media/images/2017/04/20/TT-InjectionInventory_lead.png">
<meta property="fb:app_id" content="154122474650943">
